body {
  background-color: black;
  font-family: helvetica;
}

.keys {
  margin-top: 50px;
  display: flex;
  align-items: row;
  justify-content: space-between;
  height: 60%;
}
.key {
  width: 100%;
  border: solid;
  border-color: black;
  border-top: double;
  border-radius: 10px;
}

.key:hover{
  background-color: #ededed;
}

.piano {
  background-color: black;
  height: 300px;
}


.switch-button {
  background-color: black;
  color: white;
  border: white;
}

.switch-button:hover {
  background-color: #eaeaea;
  
}

.circle {
  background-color: black;
  border: solid;
  border-color: red;
  border-width: 1px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
}

.circle:hover{
  background-color: #3a3a3a;
  color: #3a3a3a;
}

.circles {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
